body {
    position: absolute;
    background-color: #D8D8D8;
}

svg circle {
    position: absolute;
    width: 573px;
    height: 574px;
    left: 1076px;
    top: 117px;
}

p {
    color: #696969;
    position: absolute;
    width: 145px;
    height: 58px;
    left: 240px;
    top: 178px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
}

h4{
    position: absolute;
    width: 531px;
    height: 92px;
    left: 229px;
    top: 170px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 76px;
    line-height: 92px;
}

h1 {
    position: absolute;
    width: 224px;
    height: 39px;
    left: 25px;
    top: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
}

h2{
    position: absolute;
    width: 90px;
    height: 29px;
    left: 264px;
    top: 9px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}

h3 {
    position: absolute;
    width: 88px;
    height: 29px;
    left: 1415px;
    top: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}