body {
    position: absolute;
    background-color: #D8D8D8;
}

h1 {
    color: #000000;
    position: absolute;
    width: 224px;
    height: 39px;
    left: 25px;
    top: 28px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
}

h2 {
    color: #000000;
    position: absolute;
    width: 90px;
    height: 29px;
    left: 264px;
    top: 37px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}

h3 {
    color: #000000;
    position: absolute;
    width: 88px;
    height: 29px;
    left: 1615px;
    top: 28px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}